body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  /* max-width: 1158px; */
  /* padding: 0 15px; */
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*!===========HEADER=========!*/

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  /* display: flex; */
  display: none;
  /* gap: 40px; */
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
  height: 4px;
  width: 100%;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  line-height: 1.17;
  /* margin-right: 76px; */
  padding: 17px 0;
}

.logo-item {
  color: #2e2f42;
}

.menu {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #404bbf;
}

.menu:hover,
.menu:focus {
  color: #404bbf;
}

.nav-header {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  /* display: flex;
  gap: 40px; */
  display: none;
}

.open-menu-btn {
  padding: 0;
  background-color: transparent;
  line-height: 0;
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
  }

  .logo {
    margin-right: 120px;
  }

  .address {
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.32px;
    transition: color 250ms;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address:hover,
  .address:focus {
    color: #404bbf;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .open-menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address {
    font-style: 16px;
    line-height: 1.5;
  }
}

/*!=========FIRST SECTION========!*/
.section {
  padding: 120px 0;
}

.main-header {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  text-transform: capitalize;
  line-height: 1.07;
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.first-section {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
}

.button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/*!=========SECOND SECTION========!*/

.second-section-list {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
  gap: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-section-list-item {
  /* width: calc((100% - 72px) / 4);
  gap: 24px; */
}

.second-section-list-icon {
  /* margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center; */
  display: none;
}

.head-features {
  color: #2e2f42;
  /* font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px; */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8px;
}

.features {
  color: #434455;
  font-size: 16px;
  /* font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px; */
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .second-section-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 72px;
    padding: 96 0;
  }

  .second-section-list-item {
    width: calc((100% - 72px) / 2);
  }

  .head-features {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: left;
  }

  .features {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .second-section-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .second-section-list-icon {
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .second-section-list-item {
    width: calc((100% - 72px) / 4);
    gap: 24px;
  }

  .head-features {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
  }

  .features {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

/*!=========THIRD SECTION========!*/

.third-section {
  background-color: #f4f4fd;
}

.section-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  line-height: 1.11;
  margin-bottom: 72px;
}

.team-item-list {
  display: flex;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
}

.team-item-img {
}

.team-header {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.name-title {
  padding: 32px 0;
}

.team-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}

.team-list-link-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-link-icons {
  width: 40px;
  height: 40px;
}

.job-title {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

.team-item {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*!=========FORTH SECTION========!*/

.head-portfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1, 11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-img-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-img {
}

.head-srvc {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.srvs-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-img-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  width: calc((100% - 48px) / 3);
  box-sizing: border-box;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.cover-text {
  position: absolute;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img-list-item:hover .cover-text {
  transform: translateY(0);
}
/*!=========FOOTER========!*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-text {
  margin-right: 120px;
}

.footer-txt {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  max-width: 264px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-item-footer {
  color: #f4f4fd;
}

.social-media-footer {
}

.icons-footer {
  display: flex;
  gap: 16px;
}

.icons-footer-item {
  width: 40px;
  height: 40px;
}

.social-media-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-form-container {
  margin-left: auto;
}

.form-footer {
  display: flex;
  gap: 24px;
}

.footer-form-mail {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.form-email::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.input-email {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  padding-top: 8px;
  min-width: 264px;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-btn {
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 24px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

/*!=========BACKDROP========!*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2f4266;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(231, 233, 252);
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-button:hover > .modal-close-icon,
.modal-close-button:focus > .modal-close-icon {
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-header {
  color: rgb(46, 47, 66);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 360px;
  margin-bottom: 16px;
}

.modal-label {
  color: rgb(142, 143, 153);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  margin-bottom: 4px;
  display: block;
}

.modal-input-wrap {
  position: relative;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: rgb(77, 90, 229);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: rgb(77, 90, 229);
}

.modal-comment {
  margin-bottom: 16px;
}

.comment-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field:focus {
  border-color: rgb(77, 90, 229);
}

.comment-field::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  padding-top: 8px;
  margin-bottom: 16px;
}

.privacy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-text a {
  line-height: 1.33;
  text-decoration: underline;
  color: #4d5ae5;
  margin-left: 4px;
}

.checkbox-icon {
  display: inline-flex;
}

.backdrop-span {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-text span {
  border-radius: 2px;
  border: 1px solid #2e2f4266;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}

.checkbox-privacy:checked + .privacy-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.privacy-policy {
  margin-bottom: 24px;
}

.submit-btn {
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: #4d5ae5;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #404bbf;
}
